main {
    padding-top: 100px;
    background : pink;
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: black;
    animation: fadeIn linear 6s;
    -webkit-animation: fadeIn linear 6s;
    -moz-animation: fadeIn linear 6s;
    -o-animation: fadeIn linear 6s;
    -ms-animation: fadeIn linear 6s;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  

.intro {
    padding-top: 50px;
    text-align: center;
}

.animation {
    display :flex;
   flex-direction: row;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right : 15px;
   padding-left:15px;
}


.holdingcontainer{
    max-width: 100%;
    display: flex;
    background: pink;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
  }

  .holdingcontainer2{
    max-width: 100%;
    display: flex;
    background: pink;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row-reverse;
  }

  .holdingcontainer3{
    max-width: 100%;
    display: flex;
    background: pink;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
  }

  .internalcontainerL{
    flex: 1;
    background: rgb(233, 121, 121);
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
  }

  .internalcontainerM{
    flex: 1;
    background: rgb(212, 149, 160);
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
  }

  .internalcontainerR{
    flex: 1;
    background: rgb(109, 182, 182);
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 3px;
  }

  .Text-inside {
      text-align: center;
      font-size: large;
  }

  .Text-inside-details {
      text-align: center;
      font-size: medium;
      color: white;
  }

  h1{
      text-align: center;
  }

  @media screen and (max-width: 640px){
    .holdingcontainer{
        flex-direction: column-reverse;
      }
      .holdingcontainer2{
        flex-direction: column-reverse;
      }
      .holdingcontainer3{
        flex-direction: column-reverse;
      }
      .intro {
          flex-direction: column-reverse;
      }
      .intro .fade-in-text {
          flex-direction: column-reverse;
          font-size: 50px;
      }

      .intro .animation {
          flex-direction: column-reverse;
          
      }

      span {
        font-size: 0.2em;
      }

      .tag {
        width: 50%;
      }

  }

  .container {
    
  }


  span {
    font-size: 2em;
    padding : 10px;
  }

  textarea {
    border: none;
    display: block;
    width: 50%;
    height: 100px;
    font-family: inherit;
    padding : 10px;
    margin : 0 0 20px;
    font-size : 16px;
  }


  h3 {
    margin : 10px 0 20px;
    text-align: center;
  }


  .tag {
    background-color: lightgreen;
    color: white;
    border-radius: 50px;
    margin: 0 5px 10px 0;
    padding : 10px 20px;
    font-size: 14px;
    display: inline-block;
  }

  .tag.highlight {
    background-color: #273c75;
  }